In [ ]:
#function reaction # function with no parameter or argument
def sriharan():
  print("Hi this is my first main memory coding.")

In [ ]:
#reference a function/call a function
sriharan()

Hi this is my first main memory coding.

In [ ]:
#function with argument
def even_odd(num):
  if num%2 == 0:
    print('even number')
  else:
    print('odd number')

In [ ]:
even_odd(10)

even number

In [ ]:
def pos_neg(num):
  if num > 0:
    print('positive number')
  elif num == 0:
    print('neutral number')
  else:
    print ('negative number')

In [ ]:
pos_neg(11)

positive number

In [ ]:
def addition(a,b=6,c):
  d = a+b+c
  print(d)

SyntaxError: ignored

In [ ]:
addition(4,6,7)

17

In [ ]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'addition', 'even_odd', 'exit', 'get_ipython', 'pos_neg', 'quit', 'sriharan']

In [ ]:
def large_num(a,b,c):
  print(max(a,b,c))

In [ ]:
large_num(4,5,6)

6

In [ ]:
x = large_num

In [ ]:
x(7,8,9)

9

In [ ]:
def largest_of_3_num(a,b,c):
  if (a>b) and (a>c):
    print(a)
  elif (b>a) and (b>c):
    print(b)
  else:
    print(c)

In [ ]:
largest_of_3_num(4,5,6)

6

In [ ]:
#python functions using default arguments
def aoc(r,pi=3.14):
  d = (pi*r**2)
  print(d)

In [ ]:
aoc(7)

153.86

In [ ]:
def marksheet(p=100):
  m1 = int(input())
  m2 = int(input())
  m3 = int(input())
  total = m1+m2+m3+p
  avg = (m1+m2+m3+p)/4
  print('TOTAL:',total)
  print('AVERAGE:',avg)

In [ ]:
#python default arguments are changeable
marksheet(p=80)

70
80
90
TOTAL: 320
AVERAGE: 80.0

In [ ]:
#variable length argument
def friends(*a):
  print(a)

In [ ]:
friends('Sri','Afi','Dhar')

('Sri', 'Afi', 'Dhar')

In [ ]:
def natural(*i):
  sum = 0
  for j in i:
    sum=j+sum
  print(sum)

In [ ]:
natural(0,1,2,3,4,5,6,7,8,9)

45

In [ ]:
def sqrt(n):
  res = n**2
  print(res)

In [ ]:
sqrt(4)

16

In [ ]:
#**
def percentage(**kwargs):
  sum = 0
  for sub in kwargs:
    sub_name = sub
    sub_marks = kwargs[sub]

In [ ]:
def marks(**m):
  for i,j in m.items():
    print(i,j)

In [ ]:
marks(tamil=60,english=70)

tamil 60
english 70