In [ ]:
 i = 0
 while(i==0):
  print(i)
  i+=1

0

In [ ]:
i = 1
while (i<=5):
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
sum=0

i=10
while i>0:
  print("Enter number")
  num = int(input())
  sum = sum + num
  i = i-1
print('Average is',sum/10)

Enter number
1
Enter number
2
Enter number
3
Enter number
4
Enter number
5
Enter number
6
Enter number
7
Enter number
8
Enter number
9
Enter number
10
Average is 5.5

In [ ]:
sum = 0

i=5
while i>0 :
  print('Enter number')
  num = int(input())
  sum = sum + num
  i=i-1
print('Name: M.SRIHARAN')
print('ROLL NUM: 2235870')
print('TOTAL:',sum)
print('Average is',sum/5,'.')

Enter number
92
Enter number
99
Enter number
98
Enter number
100
Enter number
100
Name: M.SRIHARAN
ROLL NUM: 2235870
TOTAL: 489
Average is 97.8 .

In [ ]:
sum = 0

i=5
while i>0 :
  print('Enter Subject:')
  subject = str(input())
  print('Enter number')
  num = int(input())
  sum = sum + num
  i=i-1
print(subject,':',num)
print('Name: M.SRIHARAN')
print('ROLL NUM: 2235870')
print('TOTAL:',sum)
print('Average is',sum/5,'.')

Enter Subject:
TAMIL
Enter number
92
Enter Subject:
ENGLISH
Enter number
99
Enter Subject:
MATHS
Enter number
98
Enter Subject:
SCIENCE
Enter number
100
Enter Subject:
SOCIAL
Enter number
100
SOCIAL : 100
SOCIAL : 100
SOCIAL : 100
SOCIAL : 100
Name: M.SRIHARAN
ROLL NUM: 2235870
TOTAL: 489
Average is 97.8 .

In [ ]:
i = 2
while (i<=20):
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
i = 1
while (i<=20):
  print(i)
  i=i+2

1
3
5
7
9
11
13
15
17
19

In [ ]:
i=1
while (i<=10):
  print(i,i*i)
  i=i+1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100